<form action="" method="post" class="space-y-6 bg-white shadow-lg shadow-gray-600/40 border border-green px-7 pt-6 pb-9 md:px-9 md:pt-9 md:pb-10 rounded-xl">
    <!-- first name -->
    <section class="">
      <div
        class="border rounded-md w-full shadow-sm flex items-center justify-between flex-row hover:border hover:border-blue transition-colors duration-200"
      >
        <input
          type="text"
          class="first-name w-[80%] placeholder:text-base placeholder:font-medium px-4 py-3 outline-0 text-darkBlue font-medium"
          placeholder="First Name"
        />
        <img
          src="./images/icon-error.svg"
          alt="err"
          class="h-[25px] mr-8 hidden"
        />
      </div>
      <p
        class="hidden content error-content1 text-right text-xs text-red italic font-medium pt-2"
      >
        my name is lawal ridwan
      </p>
    </section>

    <!-- lastname -->
    <section class="">
      <div
        class="border rounded-md w-full shadow-sm flex items-center justify-between flex-row hover:border hover:border-blue transition-colors duration-200"
      >
        <input
          type="text"
          class="last-name w-[80%] placeholder:text-base placeholder:font-medium px-4 py-3 outline-0 text-darkBlue font-medium"
          placeholder="Last Name"
        />
        <img
          src="./images/icon-error.svg"
          alt="err"
          class="h-[25px] mr-8 hidden"
        />
      </div>
      <p
        class="hidden content error-content2 text-right text-xs text-red italic font-medium pt-2"
      >
        my name is lawal ridwan
      </p>
    </section>

    <!--email  -->
    <section class="">
      <div
        class="border rounded-md w-full shadow-sm flex items-center justify-between flex-row hover:border hover:border-blue transition-colors duration-200"
      >
        <input
          type="email"
          class="first-name w-[80%] placeholder:text-base placeholder:font-medium px-4 py-3 outline-0 text-darkBlue font-medium"
          placeholder="Email Address"
        />
        <img
          src="./images/icon-error.svg"
          alt="err"
          class="h-[25px] mr-8 hidden"
        />
      </div>
      <p
        class="hidden content error-content3 text-right text-xs text-red italic font-medium pt-2"
      >
        my name is lawal ridwan
      </p>
    </section>

    <!--password  -->
    <section class="">
      <div
        class="border rounded-md w-full shadow-sm flex items-center justify-between flex-row hover:border hover:border-blue transition-colors duration-200"
      >
        <input
          type="password"
          class="first-name w-[80%] placeholder:text-base placeholder:font-medium px-4 py-3 outline-0 text-darkBlue font-medium"
          placeholder="Password"
        />
        <img
          src="./images/icon-error.svg"
          alt="err"
          class="h-[25px] mr-8 hidden"
        />
      </div>
      <p
        class="hidden content error-content3 text-right text-xs text-red italic font-medium pt-2"
      >
        my name is lawal ridwan
      </p>
    </section>

    <!-- claim free trial -->
    <section>
      <button class="bg-green text-center py-4 rounded-md shadow-md shadow-gray-600/30 w-full">
        <p class="text-white font-medium leading-normal uppercase">Claim your Free Trial</span>
        </p>
              </button>
      <p class="mt-4 text-xs text-center text-grayishBlue font-normal">By clicking the button, you are agreeing to our <span class="text-red font-medium">Terms and services</span></p>
    </section>
  </form>