<section class="border border-red">
  <div
    class="border rounded-md w-full shadow-sm flex items-center justify-between flex-row hover:border hover:border-blue transition-colors duration-200"
  >
    <input
      type="text"
      class="first-name w-[80%] placeholder:text-base placeholder:font-medium px-4 py-3 outline-0 text-darkBlue font-medium"
      placeholder="First Name"
    />
    <img src="./images/icon-error.svg" alt="err" class="h-[25px] mr-8" />
  </div>
  <p class="error-content text-right text-xs text-red italic font-medium pt-2">
    my name is lawal ridwan
  </p>
</section>
